@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    margin: 5%;
    line-height: 1.6;

}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px;
}

header{
    text-align: center;
    color: aliceblue;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    background-image: url(img/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

header figure img{
    border-radius: 50%;
    border: 5px solid ;
    box-shadow: 0 0 10px;

}

header h1{
    font-size: 2em;
    margin-top: 10px;

}

header h2{
    font-size: 1.2em;
    opacity: 0.7;

}

.container{
    background-color: blueviolet;
    width: 80%;
    position: relative;
    z-index: 1;

}

.container_fotoperfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid;
    margin: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.container_fotoperfil img{
    width: 100%;
    height: auto;
    display: block;

}

.cabecera{
    position: relative;

}

.nombre_puesto{
    display: inline-block;
    vertical-align: middle;


}
h3{
    font-size: 1.4;
    margin-top: 20px;
    color: rgba(14, 16, 16, 0.5);

}

section{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border-bottom: 20px;
    box-shadow: o o 5px rgba(0, 0, 0, 0.1);


}

section hr{
    border: 0;
    height: 2px;
    background: white;
    margin: 10px 0;


}

i{
    color: aqua;
    margin-right: 8px;

}

ul{
    list-style: none;

}

ul li{
    padding: 5px 0;

}

address{
    color: brown;
    text-decoration: none;

}

address p{
    margin: 5px 0;
    
}

article{
    margin-bottom: 15px;

    
}